@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
* {
  text-decoration: none;
}
body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 10px;
}
.section {
  width: 1920px;
  height: 764px;
  background: url(../img/bg.png) center no-repeat;
  background-size: cover;
}
.content-box {
  position: relative;
  width: 860px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.content-title {
  text-align: center;
}
.content-title h1 {
  color: #0bbaf0;
  font-size: 3.6rem;
  font-weight: 700;
  text-align: center;
}
.content-title span {
  color: #0bbaf0;
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
}
.content-line {
  position: relative;
  display: block;
  width: 124px;
  height: 1px;
  border-bottom: 1px solid #c4c4c4;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: 20px;
}
#accordion {
  padding-top: 30px;
}
.panel-default > .panel-heading {
  background-color: #0bbaf0;
  color: #ffffff;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
.answer {
  font-size: 2.32rem;
  font-weight: 400;
}
.answer:hover {
  text-decoration: none;
}
.panel-body {
  color: #535353;
  font-size: 2.2rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: left;
}
