body {
	margin: 0;
	padding: 0;
}
.section {
	background: center no-repeat;
	background-size: cover;
}
.content {
	display: table;
	width: 100%;
	height: 700px;
}
.text-header {
	display: table-cell;
	vertical-align: middle;
}
h1 {
	color: #ffffff;
}