@import url('https://fonts.googleapis.com/css?family=Lato|Lobster|Open+Sans');

@font-face {
	font-family: 'Bebas Neue';
	src: url('./font/BebasNeueRegular.eot');
	src: local('./font/Bebas Neue Regular'), local('BebasNeueRegular'),
		url('./font/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
		url('./font/BebasNeueRegular.woff') format('woff'),
		url('./font/BebasNeueRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('./font/BebasNeueBold.eot');
	src: local('./font/Bebas Neue Bold'), local('BebasNeueBold'),
		url('./font/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
		url('./font/BebasNeueBold.woff') format('woff'),
		url('./font/BebasNeueBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('./font/BebasNeueLight.eot');
	src: local('./font/Bebas Neue Light'), local('BebasNeueLight'),
		url('./font/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
		url('./font/BebasNeueLight.woff') format('woff'),
		url('./font/BebasNeueLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('./font/BebasNeue-Thin.eot');
	src: local('./font/Bebas Neue Thin'), local('BebasNeue-Thin'),
		url('./font/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
		url('./font/BebasNeue-Thin.woff') format('woff'),
		url('./font/BebasNeue-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue Book';
	src: url('./font/BebasNeueBook.eot');
	src: local('./font/Bebas Neue Book'), local('BebasNeueBook'),
		url('./font/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
		url('./font/BebasNeueBook.woff') format('woff'),
		url('./font/BebasNeueBook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.text-box{
	padding-top: 2rem;
	
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
	
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;

}

.open {
	font-family: 'Open Sans', sans-serif;
}

.bebas {
	font-family: 'Bebas', sans-serif;
}

.lato {
	font-family: 'Lato', sans-serif;
}

.lobster {
	font-family: 'Lobster', sans-serif;
}