/**
 * [$img description]
 * Add Image Backround here 
 */
/**
 * Fonts 
 */
/**
 * Colors
 */
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,600,700,800");
@import url("http://weloveiconfonts.com/api/?family=zocial");
@import url("http://weloveiconfonts.com/api/?family=brandico");
body {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  color: #ffffff; }

body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: url(../img/bg1.png) no-repeat center center;
  background-attachment: fixed;
  background-size: cover; }

h1 {
  font-size: 44px;
  font-weight: 700;
  color: #ffffff; }

h2 {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff; }

h3 {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff; }

.overley, nav, .portfolio, .about, .contact, .footer {
  background-color: rgba(21, 21, 21, 0.6); }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.demo-2 #large-header #demo-canvas {
  z-index: -100;
  position: absolute;
  max-width: 100%; }

.btn {
  color: #9D9D9D;
  background-color: transparent;
  border: 2px solid #9D9D9D;
  font-size: 13px;
  padding: 8px 15px;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-transition: all .5s;
  transition: all .5s; }
  .btn:hover {
    color: #9BBB69;
    border: 2px solid #9BBB69; }

label {
  display: block; }

input {
  display: block; }

input,
textarea {
  padding: 10px 10px;
  color: #9D9D9D;
  background-color: transparent;
  border: 2px solid #9D9D9D;
  outline: none;
  font-weight: 600;
  min-width: 100%;
  -webkit-transition: border 1.5s;
  transition: border 1.5s; }
  input:focus,
  textarea:focus {
    border: 2px solid #9BBB69; }

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif; }

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif; }

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.9); }

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.hovereffect img {
  min-width: 100%;
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear; }

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 10px;
  text-shadow: 0 0 5px #9BBB69; }

.hovereffect a.info {
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #9BBB69;
  border: 1px solid #9BBB69;
  background-color: rgba(155, 187, 105, 0.2);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 50px 0 0;
  padding: 7px 14px; }

.hovereffect a.info:hover {
  -webkit-box-shadow: 0 0 5px #9BBB69;
          box-shadow: 0 0 5px #9BBB69; }

.hovereffect:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100); }

.hovereffect:hover h2, .hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translatey(0);
  transform: translatey(0); }

.hovereffect:hover a.info {
  -webkit-transition-delay: .2s;
  transition-delay: .2s; }

nav {
  position: absolute;
  left: 0;
  min-height: 100%;
  max-width: 80px; }
  nav .logo img {
    max-width: 60%;
    margin-top: 40px; }
  nav .nav-list {
    margin-top: 100px; }
    nav .nav-list .nav-link {
      color: #9D9D9D;
      font-size: 30px;
      margin-top: 20px;
      -webkit-transition: color .3s;
      transition: color .3s; }
      nav .nav-list .nav-link:hover {
        color: #9BBB69; }
  nav #active {
    color: #9BBB69; }

.intro-title {
  position: relative;
  padding-top: 300px; }
.intro-subtitle {
  position: relative;
  font-size: 22px;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  color: #ffffff;
  margin-top: 20px; }

.arrow-bottom {
  display: inline-block;
  margin-top: 400px; }
  .arrow-bottom .arrow-link {
    position: absolute;
    display: inline-block;
    color: #ffffff;
    font-size: 55px;
    -webkit-animation: arrow  1.5s linear infinite;
            animation: arrow  1.5s linear infinite; }

@-webkit-keyframes arrow {
  from {
    padding-top: 0; }
  5% {
    padding-top: 1px; }
  10% {
    padding-top: 2px; }
  15% {
    padding-top: 3px; }
  20% {
    padding-top: 4px; }
  25% {
    padding-top: 5px; }
  30% {
    padding-top: 6px; }
  35% {
    padding-top: 7px; }
  40% {
    padding-top: 8px; }
  45% {
    padding-top: 9px; }
  50% {
    padding-top: 10px; }
  55% {
    padding-top: 9px; }
  60% {
    padding-top: 8px; }
  65% {
    padding-top: 7px; }
  70% {
    padding-top: 6px; }
  75% {
    padding-top: 5px; }
  80% {
    padding-top: 4px; }
  85% {
    padding-top: 3px; }
  90% {
    padding-top: 2px; }
  95% {
    padding-top: 1px; }
  to {
    padding-top: 0; } }

@keyframes arrow {
  from {
    padding-top: 0; }
  5% {
    padding-top: 1px; }
  10% {
    padding-top: 2px; }
  15% {
    padding-top: 3px; }
  20% {
    padding-top: 4px; }
  25% {
    padding-top: 5px; }
  30% {
    padding-top: 6px; }
  35% {
    padding-top: 7px; }
  40% {
    padding-top: 8px; }
  45% {
    padding-top: 9px; }
  50% {
    padding-top: 10px; }
  55% {
    padding-top: 9px; }
  60% {
    padding-top: 8px; }
  65% {
    padding-top: 7px; }
  70% {
    padding-top: 6px; }
  75% {
    padding-top: 5px; }
  80% {
    padding-top: 4px; }
  85% {
    padding-top: 3px; }
  90% {
    padding-top: 2px; }
  95% {
    padding-top: 1px; }
  to {
    padding-top: 0; } }
.popper {
  position: absolute;
  background-color: #9BBB69;
  color: #1E2D04;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 11.5px;
  letter-spacing: -0.5px;
  margin-left: 20px;
  margin-top: -10px;
  display: none;
  padding: 10px 20px;
  -webkit-animation: menuItem .4s;
          animation: menuItem .4s; }

.angle {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #9BBB69;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  left: -3px;
  top: 12px; }

@-webkit-keyframes menuItem {
  from {
    margin-left: 5px;
    opacity: .1; }
  10% {
    margin-left: 7px;
    opacity: .2; }
  20% {
    margin-left: 9px;
    opacity: .3; }
  30% {
    margin-left: 12px;
    opacity: .5; }
  to {
    opacity: 1; } }

@keyframes menuItem {
  from {
    margin-left: 5px;
    opacity: .1; }
  10% {
    margin-left: 7px;
    opacity: .2; }
  20% {
    margin-left: 9px;
    opacity: .3; }
  30% {
    margin-left: 12px;
    opacity: .5; }
  to {
    opacity: 1; } }
.menu-small {
  display: none;
  padding: 15px 50px 15px 50px;
  grid-template-columns: 1fr 30px;
  grid-template-areas: "menu-logo menu-btn" "menu-list menu-list";
  background-color: rgba(21, 21, 21, 0.8); }
  .menu-small .menu-logo {
    grid-area: menu-logo; }
    .menu-small .menu-logo a img {
      width: 45px;
      height: 45px; }

.menu-btn {
  grid-area: menu-btn;
  cursor: pointer; }
  .menu-btn .bar1,
  .menu-btn .bar2,
  .menu-btn .bar3 {
    width: 35px;
    height: 5px;
    background-color: #9D9D9D;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 1px; }
  .menu-btn .bar-btn1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px); }
  .menu-btn .bar-btn2 {
    opacity: 0; }
  .menu-btn .bar-btn3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px); }

.menu-list {
  grid-area: menu-list;
  margin-top: 20px;
  display: none; }
  .menu-list li {
    padding-bottom: 15px;
    padding-top: 15px; }
    .menu-list li .menu-link {
      color: #9D9D9D;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600; }
      .menu-list li .menu-link:hover {
        color: #9BBB69;
        -webkit-transition: all .3s ease-in;
        transition: all .3s ease-in; }

.menu-active {
  color: #9BBB69 !important; }

.portfolio {
  position: relative;
  margin-top: 160px;
  padding: 45px; }
  .portfolio-btn {
    margin-left: 10px; }

.container-foto {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 50px;
  grid-template-areas: 'agency1 agency2 agency3' 'agency4 agency5 agency6'; }
  .container-foto img {
    max-width: 100%;
    min-height: 100%; }

.agency1 {
  grid-area: agency1; }

.agency2 {
  grid-area: agency2; }

.agency3 {
  grid-area: agency3; }

.agency4 {
  grid-area: agency4; }

.agency5 {
  grid-area: agency5; }

.agency6 {
  grid-area: agency6; }

.agency7 {
  grid-area: agency7; }

.vr1 {
  grid-area: vr1; }
  .vr1 img {
    min-height: 100%; }

.vr2 {
  grid-area: vr2; }
  .vr2 img {
    max-height: 100%; }

.prev {
  display: none;
  position: relative; }

.effect {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px; }
  .effect:hover {
    opacity: 1; }

.about {
  position: relative;
  margin-top: 200px;
  padding: 45px; }
  .about .text-intro {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    font-size: 18px;
    margin-top: 40px; }
  .about p {
    margin-top: 20px; }
  .about .wrapper-my-foto {
    border-radius: 100%;
    overflow: hidden;
    margin: 40px auto;
    max-width: 320px;
    border: 3px solid #9BBB69;
    -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5); }
  .about .my-foto {
    max-width: 100%; }
  .about-skill-title {
    margin-top: 50px; }
  .about .skill-icon {
    display: inline-block;
    color: #9BBB69;
    font-size: 45px; }
  .about .skill-title {
    display: inline-block;
    margin-left: 20px;
    color: #9BBB69; }
  .about .skill-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .about .skill-content {
    margin-left: 50px; }
    .about .skill-content p {
      margin-top: 0; }
  .about .svg-foto {
    max-width: 20%; }
  .about .skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px; }

.contact {
  position: relative;
  margin-top: 200px;
  padding: 45px; }
  .contact .contact-icon {
    margin-bottom: 20px;
    display: block;
    color: #9BBB69;
    font-size: 30px; }
  .contact-form {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'first-section second-section' 'section-button section-button';
    grid-gap: 20px; }
    .contact-form label {
      font-weight: 600;
      margin-top: 23px; }
    .contact-form .first-section {
      grid-area: first-section; }
    .contact-form .second-section {
      grid-area: second-section; }
    .contact-form .section-button {
      display: block;
      grid-area: section-button;
      text-align: center; }

.footer {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 30px; }
  .footer-info {
    margin-bottom: 0;
    padding-top: 10px; }
    .footer-info a {
      color: #9BBB69;
      text-decoration: none; }
    .footer-info a:visited,
    .footer-info a:link,
    .footer-info a:active {
      color: #9BBB69;
      text-decoration: none; }
  .footer-social ul li {
    display: inline-block;
    margin: 0 10px 0 10px; }
    .footer-social ul li a {
      font-size: 25px;
      color: #9D9D9D;
      -webkit-transition: all .2s ease-in;
      transition: all .2s ease-in; }
    .footer-social ul li a:hover {
      color: #9BBB69; }

@media (max-width: 1312px) {
  nav {
    display: none; }

  .menu-small {
    display: grid; } }
@media (max-width: 1199.98px) {
  .portfolio .container-foto {
    grid-gap: 30px 30px; }

  .about .skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px; } }
@media (max-width: 991.98px) {
  .portfolio .container-foto {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 40px;
    grid-template-areas: 'agency1 agency2' 'agency4 agency5' 'agency3 agency6'; } }
@media (max-width: 767.98px) {
  .intro-title {
    font-size: 35px; }
  .intro-subtitle {
    font-size: 17px; }

  .portfolio {
    padding: 45px 70px; }
    .portfolio .container-foto {
      grid-template-columns: 1fr;
      grid-gap: 40px 40px;
      grid-template-areas: 'agency1' 'agency4' 'agency3' 'agency5' 'agency2' 'agency6'; }

  .contact {
    padding: 20px; }
    .contact-form {
      grid-template-columns: 1fr;
      grid-template-areas: 'first-section' 'second-section' 'section-button';
      grid-gap: 10px; }

  .about .skill-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px; } }
@media (max-width: 575.98px) {
  .intro-title {
    font-size: 25px; }
  .intro-subtitle {
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px; }

  .portfolio {
    padding: 45px 10%; }
    .portfolio .portfolio-title {
      font-size: 20px; } }

/*# sourceMappingURL=main.css.map */