
.portfolio {
	position: relative;
	margin-top: 160px;
	padding: 45px;
	@extend .overley;
	&-btn {
		margin-left: 10px;
	}
}

.container-foto {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px 50px;
	grid-template-areas: 'agency1 agency2 agency3'
											 'agency4 agency5 agency6';
											 
	img {
		max-width: 100%;
		min-height: 100%;
		// border-radius: 10px;
	}
}
.agency1 {
	grid-area: agency1;
}
.agency2 {
	grid-area: agency2;
}
.agency3 {
	grid-area: agency3;
}
.agency4 {
	grid-area: agency4;
}
.agency5 {
	grid-area: agency5;
}
.agency6 {
	grid-area: agency6;
}
.agency7 {
	grid-area: agency7;
}
.vr1 {
	grid-area: vr1;
	img {
		min-height: 100%;
	}
}
.vr2 {
	grid-area: vr2;
	img {
		max-height: 100%;
	}
}
.prev {
	display: none;
	position: relative;
}

.effect {
	position: absolute;
	top: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	border-radius: 15px;
	&:hover {
		opacity: 1;
	}
}
