/**
 * [$img description]
 * Add Image Backround here 
 */
// $img: url(../img/bg.jpg) no-repeat center;

/**
 * Fonts 
 */
$font-libre: 'Libre Baskerville', serif;
$font-raleway: 'Raleway', sans-serif;
$regular: 400;
$italic: 400i;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

/**
 * Colors
 */
$light: #ffffff;
$grey: #9D9D9D;
$green: #9BBB69;