@font-face {
  font-family: 'ProximaNova_regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_regular', sans-serif;
  color: #292929;
}
.container {
  padding: 0;
}
h2 {
  font-size: 3.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-weight: 700;
}
.arma {
  border: 1px solid #008000;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
.btn {
  background-color: #f8af01;
  color: #fff;
  border-radius: 0.8rem;
  text-transform: uppercase;
  padding: 1.3rem 3rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn:hover {
  cursor: pointer;
  background-color: #d49601;
  color: #fff;
}
.btn-header {
  font-weight: 600;
  font-size: 1.4rem;
}
.box-1 {
  width: 100%;
  display: table;
  text-align: right;
}
.box-1 .box-2 {
  height: 5rem;
  display: table-cell;
  vertical-align: middle;
}
.phone {
  text-decoration: none;
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  color: #292929;
}
.phone:hover {
  text-decoration: none;
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  color: #292929;
}
.main {
  padding: 3rem 0;
  background-image: url(../img/bg-h.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-info {
  margin-top: 10rem;
}
.main-title .title {
  font-family: 'ProximaNova_bold', sans-serif;
  display: block;
  font-size: 4.1rem;
  line-height: 1.3;
  margin-bottom: 3rem;
  margin-top: -1rem;
}
.main-title .main-subtitle {
  display: block;
  font-size: 2.4rem;
  line-height: 1.4;
  margin-bottom: 5rem;
}
.main-title span {
  display: inline-block;
  background-color: #70c849;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  padding: 2.5rem 3.5rem;
}
.main-title span strong {
  font-size: 2.6rem;
}
.main-title .main-subtitle-bottom {
  font-family: 'ProximaNova_bold', sans-serif;
  display: inline-block;
  font-size: 2.5rem;
  text-align: left;
  margin-top: 5rem;
}
.box-form {
  background-color: #fff;
  padding: 5rem 4.6rem;
  text-align: center;
}
.box-form .form-subtitle {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 4.5rem;
}
.box-form .form-subtitle strong {
  font-family: 'ProximaNova_bold', sans-serif;
}
.box-form label {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -8px);
          transform: translate(-50%, -8px);
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
.box-form .input-main-form {
  border: 1px solid #dddddd;
  border-radius: 5px;
  width: 100%;
  height: 5.4rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.box-form .btn-form {
  width: 100%;
  font-size: 1.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
  text-transform: uppercase;
  padding: 1.7rem;
}
.box-form .btn-form:hover {
  cursor: pointer;
  background-color: #d49601;
  color: #fff;
}
.box-form .form-text-bottom {
  display: block;
  margin-top: 1rem;
  font-size: 1.2rem;
}
.main-small-text {
  font-size: 1rem;
  margin-top: 3.6rem;
  margin-left: 3rem;
  display: block;
}
.slick-active {
  outline: none;
}
.arrow {
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 2rem;
  border: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
}
.prev {
  background: url(../img/arrow-left.svg) center no-repeat;
  left: 0;
  background-size: 70%;
}
.next {
  background: url(../img/arrow-right.svg) center no-repeat;
  right: 0;
  background-size: 70%;
}
.future-title {
  font-size: 3.6rem;
  font-weight: 700;
  margin-top: 10rem;
  text-align: center;
}
.future {
  display: block;
  margin-top: 13rem;
  text-align: center;
  vertical-align: top;
  margin-bottom: 8rem;
}
.future .coin {
  height: 135px;
  text-align: center;
  display: inline-block;
}
.future .coin img:actived {
  outline: hidden;
}
.future span {
  display: block;
  font-size: 2rem;
  font-weight: 700;
}
.future p {
  display: block;
  margin-top: 3.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.4rem;
}
.future p a:visited {
  color: #70c849;
}
.section-price {
  background-image: url(../img/bg-price.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.price-title {
  text-align: center;
  color: #fff;
  margin-top: -10px;
}
.btn-price {
  padding-bottom: 1.7rem;
  padding-top: 1.7rem;
}
.box-1-price {
  display: table;
}
.box-1-price .box-2-price {
  display: table-cell;
  height: 7rem;
  vertical-align: bottom;
}
.wrap-price {
  padding-top: 12rem;
  padding-bottom: 10rem;
}
.price-subtitle {
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
}
.price-subtitle h4 {
  padding-top: 2.5rem;
}
.content-price {
  margin-top: 9rem;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
}
.content-price span {
  display: block;
}
.first {
  font-size: 1.8rem;
  font-weight: 400;
}
.first::before {
  content: url(../img/checked.png);
  margin-right: 1rem;
}
.section-rev {
  background-image: url(../img/bg-rev.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 991px) {
  .phone,
  .box-1,
  .box-2 {
    text-align: center;
  }
  .main {
    text-align: center;
  }
}
@media (max-width: 539px) {
  .future-title {
    font-size: 3rem;
  }
}
@media (max-width: 767px) {
  text-align: center;
}
@media (max-width: 1199px) {
  .future-title {
    text-align: center;
  }
  .future {
    margin-top: 5rem;
  }
  .future span {
    margin-top: -2rem;
  }
}
@media (max-width: 539px) {
  .future-title {
    font-size: 2.5rem;
  }
}
